<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>678651248037-nub7a4rvgdr1t1uhf5f4ab3tt5ug94s6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.678651248037-nub7a4rvgdr1t1uhf5f4ab3tt5ug94s6</string>
	<key>API_KEY</key>
	<string>AIzaSyA-bn2VPwpQ8Vo8F5WzQmD_tFv-C-V68RI</string>
	<key>GCM_SENDER_ID</key>
	<string>678651248037</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.josiasfabricio.virtualStoreManager</string>
	<key>PROJECT_ID</key>
	<string>virtual-store-jfsis</string>
	<key>STORAGE_BUCKET</key>
	<string>virtual-store-jfsis.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:678651248037:ios:d82e282a60b2bbb7</string>
	<key>DATABASE_URL</key>
	<string>https://virtual-store-jfsis.firebaseio.com</string>
</dict>
</plist>